* {

    font-family:'Titillium Web';

}

body {
    background-color: #e1e1e1;
}

li {

    font-family:'Major Mono Display';
    font-size: 18px;

}

h1 {

    font-family:'Righteous';
    font-size: 56px;

}

h4 {

    font-size:24px;
    padding: 0px 0px 0px 0px;

}

.scrolls {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    display: flex
}

.vertScroll {

    overflow-y: scroll;
    max-height: 480px;
    height: 480;
    max-width: 450px;
    width: 450;
}

.userDiv {
    box-shadow: 1px 1px 10px #999;
    margin: 2px;
    max-height: 550px;
    height: 550px;
    max-width: 450px;
    width: 450px;
    overflow-y: hidden;
    cursor: default;
    display: inline-block;
    vertical-align: top;
    padding: 10px 1px 1px 15px;
    background-color: #b3d9ff;
}

.connectionDiv {
    box-shadow: 1px 1px 10px #999;
    margin: 10px;
    max-height: 100%;
    height: fit-content;
    width: 90%;
    cursor: default;
    vertical-align: middle;
    padding: 1px 5px 5px 15px;
    background-color: #e1e1e1;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    border-radius: 5px;
}

.tb {
    font-size: 12px;
}

.vs {

    height:20px

}